@keyframes openMenu {

    0%{

        opacity: 0;
        


    }
    50%{
        opacity: 50%;
    }

    100%{
        opacity: 100%;
    }
    
}


@keyframes landingPageAnimation {

    0%{
        background-image: url('/assets/image/landingPage/austin.jpg');
    }

    50%{
        background-image: url('/assets/image/landingPage/lilly.jpg');
    }

    100%{
        background-image: url('/assets/image/landingPage/marga.jpg');
    }
    

}