:root{
    --mainheader: #215A6D;
    --main-bg-color: #DFECE6;
    --main-text-color:#506266;

    --main--title--size :  2.8rem; 
    --main-title-align : center; 


    --main--descr--fontSize: 1.2rem;
    --main--descr--font-family: Arial, Helvetica, sans-serif;
    --main--descr--padding: 2%;
    --main--descr-color: rgb(41, 41, 41);
    --main--title-color : #0E2430;

    
}


@font-face {
    font-family: Nato;
    src: url('/assets/fonts/Nato/NotoSansTC-Regular.otf');
}

@font-face {
    font-family: Lato;
    src: url('/assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('/assets/fonts/Nunito/Nunito-Regular.ttf');
}
